# HTID:18095115: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18095115:

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteRule ^(public)($|/) - [L,NC]
    RewriteRule ^(third-party)/(phpqrcode)/(QRGenerator.php) - [L,NC]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)/(.*)/(.*)$ index.php?module=$1&action=$2&$3 [L,QSA]
    RewriteRule ^(.*)/(.*)$ index.php?module=$1&action=$2 [L,QSA]
    RewriteRule ^(.*)$ index.php?module=$1&action=execute [L,QSA]
</IfModule>