<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="/pw2-grupo03/public/js/sweetalert2.all.min.js"></script>

<script>
    $('.delete-btn-user').on('click', function(e) {
        e.preventDefault();
        const href = $(this).attr('href');

        var parts = href.split("="),
            userId = parts[parts.length - 1];

        Swal.fire({
            title: 'Eliminar Usuario',
            text: "¿Estás seguro de querer eliminar este usuario con ID " + userId + "?",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Cancelar',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar Usuario'
        }).then((result) => {
            if (result.isConfirmed) {
                document.location.href = href;
            }
        })
    });
</script>

<script>
    $('.delete-btn-service').on('click', function(e) {
        e.preventDefault();
        const href = $(this).attr('href');

        var parts = href.split("="),
                serviceId = parts[parts.length - 1];

        Swal.fire({
            title: 'Eliminar Service',
            text: "¿Estás seguro de querer eliminar este service con ID " + serviceId + "?",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Cancelar',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar Service'
        }).then((result) => {
            if (result.isConfirmed) {
                document.location.href = href;
            }
        })
    });
</script>

<script>
    $('.delete-btn-travel').on('click', function(e) {
        e.preventDefault();
        const href = $(this).attr('href');

        var parts = href.split("="),
                travelId = parts[parts.length - 1];

        Swal.fire({
            title: 'Eliminar Viaje',
            text: "¿Estás seguro de querer eliminar este viaje con ID " + travelId + "?",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Cancelar',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar Viaje'
        }).then((result) => {
            if (result.isConfirmed) {
                document.location.href = href;
            }
        })
    });
</script>

<script>
    $('.delete-btn-client').on('click', function(e) {
        e.preventDefault();
        const href = $(this).attr('href');

        var parts = href.split("="),
                travelId = parts[parts.length - 1];

        Swal.fire({
            title: 'Eliminar Cliente',
            text: "¿Estás seguro de querer eliminar este cliente con ID " + travelId + "?",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Cancelar',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar Cliente'
        }).then((result) => {
            if (result.isConfirmed) {
                document.location.href = href;
            }
        })
    });
</script>