<footer>
    <p>Log&iacutestica S.A.&#174 Todos los Derechos Reservados 2020</p>
</footer>

<script src="https://kit.fontawesome.com/7459688133.js" crossorigin="anonymous"></script>

<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>

</body>
</html>