<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logistica S.A.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/pw2-grupo03/public/css/style.css">
</head>

<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-right" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Cerrar &times;</button>
    <h3 class="w3-bar-item">Menú</h3>
    {{#_SESSION.admin}}
        <a href="/pw2-grupo03/usuarios" class="w3-bar-item w3-button">Usuarios</a>
        <a href="/pw2-grupo03/report" class="w3-bar-item w3-button">Reportes</a>
    {{/_SESSION.admin}}
    {{#_SESSION.supervisor}}
        <a href="/pw2-grupo03/client" class="w3-bar-item w3-button">Clientes</a>
        <a href="/pw2-grupo03/transportUnit" class="w3-bar-item w3-button">Flota de Vehiculos</a>
    {{/_SESSION.supervisor}}
    {{#_SESSION.encargado}}
        <a href="/pw2-grupo03/service" class="w3-bar-item w3-button">Mantenimiento de Vehiculos</a>
    {{/_SESSION.encargado}}
    {{#_SESSION.chofer}}
        <a href="/pw2-grupo03/travel" class="w3-bar-item w3-button">Viajes</a>
    {{/_SESSION.chofer}}
</div>

<!-- Navbar -->
<div class="w3-main contenedor-main" style="margin-right:15%">
    <div class="w3-blue">
        <button class="w3-button w3-blue w3-xlarge w3-right w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="w3-bar w3-large">
            <p class="w3-bar-item">
                <a href="/pw2-grupo03/home" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a>
            </p>
            <div class="w3-right w3-bar-item">
                <p class="w3-bar-item">Bienvenido/a {{_SESSION.username}}!</p>
                <a href="/pw2-grupo03/logout" class="w3-bar-item w3-button"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </div>
