<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logistica S.A.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/pw2-grupo03/public/css/style.css">
</head>

<body>

<!-- Navbar -->
<div class="w3-main contenedor-main">
    <div class="w3-blue">
        <div class="w3-bar w3-large">
            <p class="w3-bar-item ">
                <a href="/pw2-grupo03/home" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a>
            </p>
            <div class="w3-right navbar-bienvenido">
                <p class="w3-bar-item">Bienvenide {{_SESSION.username}}!</p>
                <a href="/pw2-grupo03/logout" class="w3-bar-item w3-button"><i class="fa fa-sign-in"></i></a>
            </div>
        </div>
    </div>
