<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logistica S.A.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>

<!-- Navbar -->
<div class="w3-main contenedor-main">
    <div class="w3-blue">
        <div class="w3-bar w3-large">
            <p class="w3-bar-item ">Logística</p>
            <div class="w3-right navbar-bienvenido">
                <p class="w3-bar-item">Bienvenida Marta!</p>
                <a href="/pw2-grupo03/logout" class="w3-bar-item w3-button"><i class="fa fa-sign-in"></i></a>
            </div>
        </div>
    </div>

    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-right" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Cerrar &times;</button>
        <h3 class="w3-bar-item">Menú</h3>
        <a href="#" class="w3-bar-item w3-button">Usuarios</a>
        <a href="#" class="w3-bar-item w3-button">Reportes</a>
        <a href="#" class="w3-bar-item w3-button">Flota de Vehículos</a>
        <a href="#" class="w3-bar-item w3-button">Seguimiento de Vehículo</a>
    </div>